.label-right{

}

.textbox{
    width: 370px;
    height: 30px;
}

.form-buttom{
    width: 380px;
    height: 30px;
    margin-top: 10px;
    vertical-align: middle;
}

.createdby-padding{
 
}

.brandname-padding{
  
}