
  .navbar{
    background: #32CD32	;
    margin: 0;
    margin-left: -8px;
    margin-top: -10px;
    width: 150px;
    min-height: 939px;
    height: auto;
  }

.navbar-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: white;
}